{% load staticfiles %}
<html>
    <head>
        <title>David's blog</title>
        <!-- The browser will retrieve the HTML page from the web server but consult its cache for the static assets (JavaScript, CSS, images) -->
        <link rel="stylesheet" href="{%static 'blog/css/style.css' %}">
    </head>
    <body>
	<div>
	    <h1><a href="/">David Blog</a></h1>
	</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
    <p> please be red </p>
    {{ posts }}
    </body>
</html>